.form-lista{
    .input-text{
        margin-bottom:20px;
    }
    .check-list{
        margin-bottom: 20px;
    }
    .definir-entrega, .dados-entrega{
        padding: 0px 15px;
        margin-bottom: 20px;
    }
}